
$mainBg: linear-gradient(153deg, #36603E 35.82%, #1E262C 107.75%);
$mainWebkitBg: -webkit-linear-gradient(153deg, #36603E 35.82%, #1E262C 107.75%);
$chestnut: #BC4749;
$white: #fff;
$whiteOpacity: #ffffffcc;
$asparagus: #6A994E;
$borderBottom: #ffffff1a;
$ebonyclay: #1D252B;
$alto: #D0D0D0;

$z-index150: 150;
$z-index130: 130;
$z-index100: 100;
$z-index-1: -1;


$breakpoint_xxl: 1280px;
$breakpoint_xx: 980px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;